{% extends "app/layout.html" %}

{% block content %}
<style>
#welcome{
	font-size: 40px;
	font-weight: 200;
	text-align: center;
	padding-bottom: 20px;
}

form{
	align: center;
	text-align: center;
}

#username, #password{
	width: 250px;
	border-radius: 3px;
	padding: 10px 15px;
	font-size: 18px;
}

#submit{
	outline: 0;
    background-color: gray;
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
}

#end{
	position: absolute;
	bottom: 10px;
}

</style>

<body>
<br>
<br>

	{% if form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
	{% endif %}
<h1 id="welcome"> Welcome </h1>

<form id="form" action="developer_auth" method="post">{% csrf_token %}
	<input type="text" name="username" value="" id="username" placeholder="Username">
	<br>
	<br>
	<input type="password" name="password" value="" id="password" placeholder="Password">
	<br>
	<br>
	<p>{{error}}</p>
	<input type="submit" value="login" id="submit"/>
</form>

<div id="end">
{% endblock %}
</div>