{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Project Data Tracker</h1>
    <p class="lead">Project Management and Productivity measuring tool</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Project Manager</h2>
        <p>
            Exert control over development process and employee evaluation with an easy-to-use User Interface
        </p>
        <p><a class="btn btn-default" href="/manager_login">Login as Project Manager &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Developers</h2>
        <p>Improve own productivity by monitoring self-progress. </p>
        <p><a class="btn btn-default" href="/developer_login">Login as Developer &raquo;</a></p>
    </div>
</div>

{% endblock %}
