{% extends "app/layout.html" %}

{% block content %}

<h2>Home</h2>
<p>&nbsp;</p>

<div class = "col-md-12">
	<div class = "row">
		<h3>Project List</h3>
		<p>&nbsp;</p>
		<table class = "table table-striped">
			<thead>
			<tr>
				<th>Project Name</th>
				<th>Project ID</th>
				<th>View Metrics</th>
				<th>Edit</th>
				<th>Record Metrics</th>
			</tr>
		</thead>
		<tbody>
			{% for project in projectlist %}
			<tr>
				<td>
					{{project.name}}
				</td>

				<td>
					{{project.pid}}
				</td>

				<td>
					<a href="/project/analysis/{{project.pid}}" align="right" class="btn btn-info">
		View Metrics</a>
				</td>

				<td>
					<a href="/project/edit/{{project.pid}}" align="right" class="btn btn-danger">
		Edit Config</a>
				</td>

				<td>
					<a href="/project/analysis/{{project.pid}}" align="right" class="btn btn-warning">
		Record Metrics</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>

	</div>
</div>

<br><br>

<div class = "col-md-12">
	<div class="row">
		<a href="/manager/create" align="right" class="btn btn-success">
		Create New Project</a>
	</div>
	<br>
	<div class="row">

	</div>

</div> <br> <br>

{% endblock %}
